# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (sensitive variable values)
*.tfvars
*.tfvars.json

# Override files (usually for local configs)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Lock file (optional – keep it if you want reproducible provider versions)
.terraform.lock.hcl